@import "@/styles/defaults";

.salons_section {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 104px;

  .backdrop {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    z-index: 0;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    background-position: -40px;
  }
}