@import "@/styles/defaults";

.heroSection {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  //background-size: auto 95%;
  //background-position: bottom;
  //background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    position: relative;

    .location_wrapper {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 8px;
      z-index: 1;

      & > span {
        font-weight: 300;
        font-family: var(--font-unbounded);
        color: $c-Primary-2;
      }

      .location_icon {
        path, circle {
          fill: $c-Primary-2;
        }
      }
    }
  }

  .shadow_down {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 214px;
    background-image: url('/images/shadow_down.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  @media screen and (max-width: 886px) {
    .shadow_down {
      bottom: 25px;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    .location_wrapper {
      bottom: 26px;
      height: fit-content;
       & > span {
         font-size: 12px;
       }
    }
  }
}