@import "@/styles/defaults";

.main {
  background: $c-Primary-1;
  //scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media screen and (min-width: $breakpoint-laptop) {
    height: 100dvh;

    & > section {
      //scroll-snap-align: start;
      //scroll-snap-stop: always;
    }
  }

  /* Custom Scrollbar Styles */
  &::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}

  &::-webkit-scrollbar-thumb {
    background-color: $c-G-4;
    border-radius: 4px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
  }
}