@import "@/styles/defaults";

.menu_container {
  position: relative;

  .hamburger {
    padding: 8px 12px;
    border: none;
    opacity: 1;
    transition: 150ms;

    & > span {
      font-weight: 300;
      text-transform: uppercase;
    }

    &_open {
      opacity: 0;
    }

    @media screen and (max-width: $breakpoint-tablet) {
      padding: 12px;
      & > span {
        display: none;
      }
    }
  }
}


