@import "@/styles/defaults";

.servicesSection {
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 104px;
  overflow: hidden;

  .services_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 10;
    position: relative;
    padding-bottom: 48px;
  }

  @media screen and (max-width: $breakpoint-laptop) {
    padding: 64px 0;
    height: 100%;

    .backdrop {
      height: calc(100% + 168px);
    }
  }
}